{% extends "master.html" %}

{% if liste %}
		
    {% block title %}
			<h3>Call of {{cursus.name}} {{cursus.scholar_year}} </h3>
    {% endblock %}

    {% block content %}
		<form action="/lycee/cursuscall/send/" method="POST">{% csrf_token %}
			<table>
				<tr>
					<td><input type="date" id="date" name="date" required="true">
				</tr>
				{% for student in liste %} 
					<tr>
						<td>
							<input type="checkbox" id="call-{{student.email}}" name="call-{{student.email}}">
							<label for="cursus-call-{{student.email}}">{{student.email }}</label> 
						</td>
					</tr>
				{% endfor %}
			</table>
			<button type="submit">Envoyer</button>
		</form>
    {% endblock %}
{% else %}
     <p>No student to show.</p>
{% endif %}